:root {
    --color-question: #b78846;
    --color-option: #c4c4c4;
  }

  #countdown {
      font-size: 2em;
      text-align: center;
      margin-top: 20px;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    background: radial-gradient(#3A6D8C, #001F3F);
    overflow: hidden;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
  }

  #mcq-container, #report-container {
    max-height: 80vh;
    overflow-y: auto;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  /* Question Box */
  .question-box {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    padding: 5px;
    border: 2px solid var(--color-question);
    margin-bottom: 20px;
  }

  .question-box::before, .question-box::after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: var(--color-question);
    border: 2px solid var(--color-question);
    line-height: 12px;
    top: 5px;
    text-align: center;
  }

  .question-box::before {
    left: 5px;
  }

  .question-box::after {
    right: 5px;
  }

  .question-box-inner {
    position: relative;
    border: 2px solid var(--color-question);
    padding: 40px;
  }

  .question-box-inner::before, .question-box-inner::after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: var(--color-question);
    border: 2px solid var(--color-question);
    line-height: 12px;
    bottom: -2px;
    text-align: center;
  }

  .question-box-inner::before {
    left: -2px;
  }

  .question-box-inner::after {
    right: -2px;
  }

  /* Options Div */
  .option-container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  /* option Box */
  .option-box {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .option-box::before, .option-box::after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: var(--color-option);
    border: 2px solid var(--color-option);
    line-height: 12px;
    top: 5px;
    text-align: center;
  }

  .option-box::before {
    left: 5px;
  }

  .option-box::after {
    right: 5px;
  }

  .option-box-inner {
    padding: 10px;
    position: relative;
    border: 2px solid var(--color-option);
  }

  .option-box-inner::before, .option-box-inner::after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: var(--color-option);
    border: 2px solid var(--color-option);
    line-height: 12px;
    bottom: -2px;
    text-align: center;
  }

  .option-box-inner::before {
    left: -2px;
  }

  .option-box-inner::after {
    right: -2px;
  }

  .option-box:hover {
    background-color: #305cde;
    cursor: pointer;
  }

  #mcq-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* User Info Form */
  #user-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #user-info h2 {
    margin-bottom: 20px;
  }

  #user-info label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  #user-info input[type="text"],
  #user-info input[type="email"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
  }

  #user-info button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #305cde;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }

  #user-info button[type="submit"]:hover {
    background-color: #204a9e;
  }

  /* Trivia Form Styling */
#triviaForm {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#triviaForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #b78846;
}

#triviaForm select, #triviaForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
}

#triviaForm button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #305cde;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#triviaForm button:hover {
    background-color: #204a9e;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: #131414;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

#navbar-ul{margin:0;
    padding:0;
    overflow:hidden;
}

#navbar-li{
    display:inline-block;
    color:white;
    margin-right:10px;
}

#navbar-li a{
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

#navbar-li a:hover{
    background-color:#111;
}
